<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" [(ngModel)]="isVisibleShipped" class="form-check-input">Display Shipped Orders
  </label>
</div>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="2">Cart</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let order of filteredOrders()">
      <tr>
        <td>{{order.user.name}}</td>
        <td>{{order.user.address}}</td>
        <th>Product</th>
        <th>Quantity</th>
        <td>
          <button [hidden]="order.shipped" (click)="ship(order)" class="btn btn-warning m-1">Ship</button>
          <button (click)="remove(order.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr *ngFor="let cartLine of order.cartList">
        <td colspan="2"></td>
        <td>{{cartLine.product.name}}</td>
        <td>{{cartLine.quantity}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>