<button routerLink="/admin/main/products/create" class="btn btn-primary mb-2">
  Create New Product
</button>
<table *ngIf="productList$ | async; else noData" class="table table-sm table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList$ | async">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.category}}</td>
      <td>{{product.price | currency}}</td>
      <td>
        <button routerLink="/admin/main/products/edit/{{product.id}}" class="btn btn-sm btn-warning m-1"
          aria-label="go to update product">
          Edit
        </button>
        <button (click)="remove(product)" class="btn btn-sm btn-danger" aria-label="go to delete product">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noData>
  <p>No data</p>
</ng-template>